@font-face {
    font-family: 'Trebuchet MS';
    src: url(font/trebuc.ttf);
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.col-35 {
    flex: 0 0 auto;
    width: 35%
}

.col-60 {
    flex: 0 0 auto;
    width: 60%
}

.col-60 .btn {
    width: 50%;
    margin-bottom: 10px;
}


.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;


}


.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #0791ec;
    outline: none !important;
    box-shadow: 0 0 0 .03rem rgba(30, 116, 245, 0.25) !important
}




@media (300px <= width <=768px) {
    .col-flex100 {
        flex: 0 0 auto;
        width: 100% !important
    }

    .col-35 {
        flex: 0 0 auto;
        width: 100%
    }

    .col-60 {
        flex: 0 0 auto;
        width: 100% !important
    }

    .col-60 .btn {
        width: 100% !important;
        margin-bottom: 10px;
    }
}

@media (min-width:1024px) {
    .col-35 {
        flex: 0 0 auto;
        width: 50% !important
    }

    .col-60 {
        flex: 0 0 auto;
        width: 100% !important
    }
}
@media (width > 768px) {

    .col-35 {
        flex: 0 0 auto;
        width: 35% !important
    }

    .col-60 {
        flex: 0 0 auto;
        width: 60% !important
    }

}

.btn-color-pt{
    background-color: #deb887 !important;
    border: #0f0900;
}

.btn-color-sh{
    background-color: #2af166 !important;
    border: #0f0900;
}

.btn-color-f{
    background-color: #8d171d !important;
    border: #0f0900;
}
/* col-flex */